<ion-view title="Menu">
  <ion-content ng-app="demo" ng-controller="InitCtrl" ng-init="Init()">
    <div class="list">

	  
	  <div ng-if="CookieConnecte == 'oui'">
		  <a class="item item-icon-right" ng-click="Deconnexion()">
			<i class="icon ion-person-stalker balanced"></i>
			Deconnexion
		  </a>
	  </div>
	  
	  <div ng-if="CookieConnecte != 'oui'">	  
		  <a class="item item-icon-right" ui-sref="connexion">
			<i class="icon ion-person-stalker balanced"></i>
			Connexion
		  </a>
		  
	      <a class="item item-icon-right" ui-sref="inscription">
        <i class="icon ion-edit"></i>
        Inscription
      </a>	  
		  
	  </div>


            
      <a class="item item-icon-right" ui-sref="offres">
        <i class="icon ion-location"></i>
        Toutes les offres de destockage
      </a>


      <a class="item item-icon-right" ui-sref="geolocation">
        <i class="icon ion-pin assertive"></i>
        Autour de moi
      </a>
      
      
	  <div ng-if="CookieType == 'entreprise'">
		  <a class="item item-icon-right" ui-sref="admin">
			<i class="icon ion-person-stalker balanced"></i>
			Mes offres de destockage
		  </a>
	  </div>
	  <a class="item item-icon-right" ui-sref="admin">
			<i class="icon ion-person-stalker balanced"></i>
			Mes offres de destockage
		  </a>	  
      <a class="item item-icon-right" ui-sref="preferences">
        <i class="icon ion-settings"></i>
        Preferences
      </a>

	  <a class="item item-icon-right" ui-sref="avis">
        <i class="icon ion-chatbubble-working"></i>
        Donner son avis
      </a>
	  
      <a class="item item-icon-right" ui-sref="about">
        A propos
      </a>
    </div>

  </ion-content>
</ion-view>
