<ion-view title="Menu">
  <ion-content ng-app="demo" ng-controller="InitCtrl" ng-init="Init()">
    <div class="list">
	
	  <a class="item item-icon-right" ui-sref="mon_compte">
        <i class="icon ion-home"></i>
        Mon compte
      </a>
	  
	  <div ng-if="CookieConnecte == 'oui'">
		  <a class="item item-icon-right" ng-click="Deconnexion()">
			<i class="icon ion-person-stalker balanced"></i>
			Deconnexion
		  </a>
	  </div>
	  
	  Cookie : {{ CookieConnecte }} 
	  <div ng-if="CookieConnecte != 'oui'">	  
		  <a class="item item-icon-right" ui-sref="connexion">
			<i class="icon ion-person-stalker balanced"></i>
			Connexion
		  </a>
	  </div>

      <a class="item item-icon-right" ui-sref="inscription">
        <i class="icon ion-edit"></i>
        Inscription
      </a>
            
      <a class="item item-icon-right" ui-sref="offres">
        <i class="icon ion-location"></i>
        Offres
      </a>


      <a class="item item-icon-right" ui-sref="facebook">
        <i class="icon ion-social-facebook positive"></i>
        Facebook
      </a>


      <a class="item item-icon-right" ui-sref="geolocation">
        <i class="icon ion-pin assertive"></i>
        GeoLocation
      </a>

      <a class="item item-icon-right" ui-sref="localNotification">
        <i class="icon ion-alert assertive"></i>
        Notifications locales
      </a>
      <a class="item item-icon-right" ui-sref="oauth">
        <i class="icon ion-arrow-expand"></i>
        Oauth
      </a>

      <a class="item item-icon-right" ui-sref="preferences">
        <i class="icon ion-settings"></i>
        Preferences
      </a>

	  <a class="item item-icon-right" ui-sref="avis">
        <i class="icon ion-chatbubble-working"></i>
        Donnez son avis
      </a>
	  
      <a class="item item-icon-right" ui-sref="about">
        A propos
      </a>
    </div>

  </ion-content>
</ion-view>
