<ion-view title="Connexion">
  <ion-content padding="true" ng-app="demo" ng-controller="ConnexionCtrl" >

 	 	
	<div class="list" >	
		  <form name="form" method="GET" novalidate>
		  
		  
		          <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" name="mail" ng-model="mail" placeholder="Veuillez saisir votre adresse email"  required ng-minlength="2" ng-maxlength="20">
        </label>

		          <label class="item item-input">
          <span class="input-label">Mot de passe</span>
          <input type="password" name="mdp" ng-model="mdp" placeholder="Veuillez saisir votre mot de passe"  required ng-minlength="2" ng-maxlength="20">
        </label>		  

		          <label class="item item-input">
          <span class="input-label">Vous êtes</span>
		  
		  <select name="type" ng-model="type" required>
  <option value="particulier">Destomer (Particulier)</option>
  <option value="entreprise">Destovider (Entreprise)</option>
</select>
        </label>		  

		
			<button class="button button-block button-positive" type="submit" ng-disabled="!form.$valid" ng-click="SendData()">
				Connexion
				<i class="icon ion-locked"></i>
			</button>
		  </form>
	</div>
	<span style="color:orange;">{{ Loading }}</span>
	<span style="color:green;">{{ Resultat }}</span>
	<span style="color:red;">{{ Erreur }}</span>
	<br />


	


  </ion-content>
</ion-view>

