<!DOCTYPE html>
<html ng-app="Destock">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="js/angular.js"></script>
        <script type="text/javascript" src="js/router.es5.js"></script>
        <script type="text/javascript" src="js/bootstrap.js"></script>        
        <title>Destock</title>
    </head>
    <body ng-controller="AppController">
        <header class="header">
            Destock
        </header>

        <section class="view" ng-viewport>
        </section>

        <nav class="nav" ng-controller="NavCtrl">
            <a href="#home" ng-click="menu='home'" ng-class="{active: menu=='home'}">
                <i class="fa fa-home fa-2x"></i>
            </a>
            <a href="#about" ng-click="menu='about'" ng-class="{active: menu=='about'}">
                <i class="fa fa-globe fa-2x"></i>
            </a>
        </nav>

        
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="controller/NavCtrl.js"></script>
    </body>
</html>
