<ion-view title="Avis">
  <ion-content padding="true" ng-app="demo" ng-controller="AvisCtrl">
   <div class="card">
	<div class="item item-text-wrap">
		Votre avis est très important pour nous, alors n'hésitez pas à nous donner vos impressions !
		<br />
		L'équipe Destock
	</div>
  
  
  <body>
  <form method="POST" ng-submit="login()" novalidate action="http://destock.u-strasbg.fr:8080/Destock/">
	<div class="item range">
		<i class="icon ion-thumbsdown"></i>
			<input type="range" name="like">
		<i class="icon ion-thumbsup"></i>
	</div>

		<label class="item item-input">
			<textarea type="text" name="avis" ng-model="avis" required placeholder="Ecrivez votre commentaire ici"></textarea>
		</label>	
   </div>	
	
	<div style="text-align:center;">{{ Resultat }}<br />
	
	<button class="button button-block button-positive" type="submit" ng-click="SendData()">
				Envoyer votre avis
	</button>
  </form>	
  </body>

  </ion-content>
</ion-view>

