<ion-view title="Rechercher une offre de destockage">

  
    
<ion-content padding="true" ng-app="demo" ng-controller="OffresCtrl" ng-init="GetData()">   


<div class="bar bar-header item-input-inset has-tabs-top" >
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Rechercher" ng-model="recherche.$"><br />
  </label>
  
  
  <button class="button button-clear">
    Annuler
  </button>
</div>

<!--  SELECT * FROM promotions ORDER BY dateDebut LIMIT 20 -->


                         
<div class="list">




    <a class="item item-thumbnail-left" ng-repeat="promo in Resultat track by $index | filter:recherche" href="/#/offres/{{promo.idPromo}}" >
      <img src="http://img1.lesnumeriques.com/produits/71/30989/apple-iphone-se_969b397dba526fb4_450x400.jpg" />
      <h2>{{promo.referencePromo}}</h2>
      <p>Id magasin : {{promo.idMagasin}}</p>
      <p>Adresse : {{promo.adresse}}</p>
      <p>Id promo : {{promo.idPromo}}</p> 
    </a>



</div>
    
  </ion-content>
</ion-view>
