/*---------------------------------------------*\
	$INTERFACE
\*---------------------------------------------*/

body {
	background-color: #D5CCCC;
}

.header{
	position: absolute;
	top:0; left: 0; right: 0;
	height:60px; line-height: 60px;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	background-color:#E6CAA1;
}

.view {
	position:absolute;
	top: 60px; right: 0; bottom: 60px; left: 0;
}

.nav {
	position: absolute;
	bottom: 0; left: 0; right: 0;
	height: 60px; line-height: 60px;
	text-align: center;
	background-color:#D3A866;
	overflow: hidden;
}

.nav .active {
	border-top:3px solid #E6CAA1;
}

.nav a {
	display: block;
	width: 50%;
	height: 60px; line-height: 60px;
	float: left;
	transition-duration: 1s;
}

.nav a:first-child {
	border-right: 1px solid #D5CCCC;
}

.nav a i {
	margin-top: 15px;
}

.panel {
	position:absolute;
	top:0; left: 0; right: 0;bottom: 0;
	overflow-x: hidden;
	overflow-y:scroll;
	background-color:transparent;
	-webkit-overflow-scrolling:touch;
	transition-duration: 5s;
}

.panel-padding {
	padding:0 25px;
}

.left{	transform: translate3D(-100%,0,0);}
.center{transform: translate3D(0,0,0);}
.right{	transform: translate3D(100%,0,0);}