<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Destock</display-name>
	<welcome-file-list>
		<welcome-file>accueil.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>AddCategorie</servlet-name>
		<servlet-class>associationUtilisateursPromotions.servlets.AddCategorieServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCategorie</servlet-name>
		<url-pattern>/assoc/addCategorie</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DelCategorie</servlet-name>
		<servlet-class>associationUtilisateursPromotions.servlets.DelCategorieServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DelCategorie</servlet-name>
		<url-pattern>/assoc/delCategorie</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddMarque</servlet-name>
		<servlet-class>associationUtilisateursPromotions.servlets.AddMarqueServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddMarque</servlet-name>
		<url-pattern>/assoc/addMarque</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DelMarque</servlet-name>
		<servlet-class>associationUtilisateursPromotions.servlets.DelMarqueServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DedMarque</servlet-name>
		<url-pattern>/assoc/delMarque</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddIdUtilSuivi</servlet-name>
		<servlet-class>associationUtilisateursPromotions.servlets.AddIdUtilSuiviServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddIdUtilSuivi</servlet-name>
		<url-pattern>/assoc/addIdUtil</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DelIdUtilSuivi</servlet-name>
		<servlet-class>associationUtilisateursPromotions.servlets.DelIdUtilSuiviServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DelIdUtilSuivi</servlet-name>
		<url-pattern>/assoc/delIdUtil</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ActivePromo</servlet-name>
		<servlet-class>promotions.servlets.ActivePromoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActivePromo</servlet-name>
		<url-pattern>/promo/active</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddPromo</servlet-name>
		<servlet-class>promotions.servlets.AddPromoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddPromo</servlet-name>
		<url-pattern>/promo/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DesactivePromo</servlet-name>
		<servlet-class>promotions.servlets.DesactivePromoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DesactivePromo</servlet-name>
		<url-pattern>/promo/desactive</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListePromoActive</servlet-name>
		<servlet-class>promotions.servlets.ListePromoActiveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListePromoActive</servlet-name>
		<url-pattern>/promo/listeActive</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListePromoCat</servlet-name>
		<servlet-class>promotions.servlets.ListePromoCatServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListePromoCat</servlet-name>
		<url-pattern>/promo/listeCat</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListePromo</servlet-name>
		<servlet-class>promotions.servlets.ListePromoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListePromo</servlet-name>
		<url-pattern>/promo/liste</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListePromoUtil</servlet-name>
		<servlet-class>promotions.servlets.ListePromoUtilServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListePromoUtil</servlet-name>
		<url-pattern>/promo/listeUtil</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdatePromo</servlet-name>
		<servlet-class>promotions.servlets.UpdatePromoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdatePromo</servlet-name>
		<url-pattern>/promo/update</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>AddUtil</servlet-name>
		<servlet-class>utilisateur.servlets.AddUtilServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddUtil</servlet-name>
		<url-pattern>/utilisateur/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DelUtil</servlet-name>
		<servlet-class>utilisateur.servlets.DelUtilServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DelUtil</servlet-name>
		<url-pattern>/utilisateur/del</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdatePosUtil</servlet-name>
		<servlet-class>utilisateur.servlets.UpdatePosUtilServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdatePosUtil</servlet-name>
		<url-pattern>/utilisateur/updatePos</url-pattern>
	</servlet-mapping>
</web-app>
