<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	
	<!-- Les servlets de gestion de clients -->
	
	<servlet>
		<servlet-name>AddClient</servlet-name>
		<servlet-class>clients.servlets.AddClientServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddClient</servlet-name>
		<url-pattern>/client/add</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DelClient</servlet-name>
		<servlet-class>clients.servlets.SupClientServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DelClient</servlet-name>
		<url-pattern>/client/del</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UpdClient</servlet-name>
		<servlet-class>clients.servlets.UpdClientServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdClient</servlet-name>
		<url-pattern>/client/upd</url-pattern>
	</servlet-mapping>
	
	<!-- Les servlets de gestion de magasin -->
	<servlet>
		<servlet-name>AddMagasin</servlet-name>
		<servlet-class>magasins.servlets.AddMagasinServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddMagasin</servlet-name>
		<url-pattern>/magasin/add</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DetMagasin</servlet-name>
		<servlet-class>magasins.servlets.DetailMagasinServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DetMagasin</servlet-name>
		<url-pattern>/magasin/det</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ListeMagasin</servlet-name>
		<servlet-class>magasins.servlets.ListeMagasinServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListeMagasin</servlet-name>
		<url-pattern>/magasin/liste</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DelMagasin</servlet-name>
		<servlet-class>magasins.servlets.SupMagasinServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DelMagasin</servlet-name>
		<url-pattern>/magasin/del</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UpdateMagasin</servlet-name>
		<servlet-class>magasins.servlets.UpdMagasinServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateMagasin</servlet-name>
		<url-pattern>/magasin/upd</url-pattern>
	</servlet-mapping>
	
	<!-- Les servlets de gestion de promotion -->
	
	<servlet>
		<servlet-name>AddPromo</servlet-name>
		<servlet-class>promotions.servlets.AddProServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddPromo</servlet-name>
		<url-pattern>/promo/add</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DelPromo</servlet-name>
		<servlet-class>promotions.servlets.DelProServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DelPromo</servlet-name>
		<url-pattern>/promo/del</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DetailPromo</servlet-name>
		<servlet-class>promotions.servlets.DetailProServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DetailPromo</servlet-name>
		<url-pattern>/promo/det</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ListePromo</servlet-name>
		<servlet-class>promotions.servlets.ListeProServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListePromo</servlet-name>
		<url-pattern>/promo/liste</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UpdatePromo</servlet-name>
		<servlet-class>promotions.servlets.UpdProServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdatePromo</servlet-name>
		<url-pattern>/promo/upd</url-pattern>
	</servlet-mapping>
	
	<!-- Les servlets de gestion de préférences -->
	<servlet>
		<servlet-name>AddPrefCat</servlet-name>
		<servlet-class>preferences.servlets.AddCatPrefServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddPrefCat</servlet-name>
		<url-pattern>/pref/addCat</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddPrefMag</servlet-name>
		<servlet-class>preferences.servlets.AddMagPrefServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddPrefCat</servlet-name>
		<url-pattern>/pref/addMag</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DelPrefCat</servlet-name>
		<servlet-class>preferences.servlets.DelCatPrefServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DelPrefCat</servlet-name>
		<url-pattern>/pref/delCat</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DelPrefMag</servlet-name>
		<servlet-class>preferences.servlets.DelMagPrefServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DelPrefCat</servlet-name>
		<url-pattern>/pref/delMag</url-pattern>
	</servlet-mapping>
	
</web-app>
